/* КАБИНЕТЕН КОРПУС */


.machine{


background:

linear-gradient(
145deg,
#333,
#080808
);


border:

8px solid #b8860b;


box-shadow:

0 30px 80px black,
inset 0 0 40px #000,
0 0 50px gold;


}



.machine::before{


content:"";


position:absolute;


top:-35px;


left:10%;


width:80%;


height:40px;


background:

linear-gradient(
#444,
#111
);


border-radius:

20px 20px 0 0;


box-shadow:

0 0 30px gold;


}



/* LED рамка */


.led-border{


position:absolute;


inset:-15px;


border-radius:35px;


border:5px dotted gold;


animation:

ledFlash 1s infinite;


}



@keyframes ledFlash{


50%{

filter:
brightness(2);

}


}





/* реалистична ръчка */


.real-lever{


position:absolute;


right:-95px;


top:80px;


width:35px;


height:180px;


background:

linear-gradient(
90deg,
#111,
#ccc,
#333
);


border-radius:20px;


transform-origin:top;


box-shadow:

0 0 20px black;


}



.real-lever .ball{


position:absolute;


bottom:-45px;


left:-25px;


width:85px;


height:85px;


border-radius:50%;


background:

radial-gradient(
circle at 30% 30%,
white,
red 30%,
darkred 70%
);


box-shadow:

0 0 30px red;


}




.pull-lever{


animation:

pullLever .9s;


}



@keyframes pullLever{


20%{

transform:
rotateX(60deg)
translateY(70px);

}


60%{

transform:
rotateX(20deg)
translateY(40px);

}


100%{

transform:none;

}


}



/* монети */


.coin{


position:absolute;


width:25px;


height:25px;


border-radius:50%;


background:

radial-gradient(
circle,
#fff3a0,
gold,
#b8860b
);


box-shadow:

0 0 10px gold;


animation:

coinFall 2s linear forwards;


}



@keyframes coinFall{


to{


transform:

translateY(100vh)
rotate(720deg);


}


}





/* победна лампа */


.jackpot-lamp{


position:absolute;


top:20px;


right:30px;


width:35px;


height:35px;


border-radius:50%;


background:#300;


border:3px solid #600;


}



.jackpot-lamp.on{


background:red;


box-shadow:

0 0 20px red,
0 0 60px red;


animation:

lampPulse .3s infinite;


}



@keyframes lampPulse{


50%{

opacity:.3;

}


}
