/* 3D REEL ENGINE */


.slot{

    transform-style:preserve-3d;

    overflow:hidden;

    position:relative;

}



.slot::after{


content:"";


position:absolute;


inset:0;


background:

linear-gradient(
90deg,
transparent,
rgba(255,255,255,.2),
transparent
);


pointer-events:none;


}




.reel-spin{


animation:

reelSpin .12s linear infinite;


}



@keyframes reelSpin{


0%{

transform:
rotateX(0deg)
translateY(0);

}


50%{

transform:
rotateX(180deg)
translateY(20px);

}


100%{

transform:
rotateX(360deg)
translateY(0);

}


}




.reel-stop{


animation:

reelStop .5s ease-out;


}



@keyframes reelStop{


0%{

transform:
rotateX(180deg);

}


100%{

transform:
rotateX(0deg);

}


}




.machine.reel-shake{


animation:

cabinetShake .15s;


}



@keyframes cabinetShake{


25%{

transform:
translateX(-5px);

}


50%{

transform:
translateX(5px);

}


75%{

transform:
translateX(-3px);

}


}
